<div class="d-flex" id="wrapper">

    <app-admin-sidebar *ngIf="toggledValue"></app-admin-sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <app-admin-header (toggledChange)="toggled($event)"></app-admin-header>

      <div class="container-fluid">
       <app-admin-title></app-admin-title>
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>

