<div class="container mt-4" *ngIf="meData">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <app-checkout-resume></app-checkout-resume>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Información de pago</h4>
      <hr>
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Nombre</label><br/>
            <span>{{ meData.user!.name }}</span>
          </div>
          <div class="col-md-6 mb-3">
            <label>Apellido/s</label><br/>
            <span>{{ meData.user!.lastname }}</span>
          </div>
        </div>

        <div class="mb-3">
          <label>Email</label><br/>
          <span>{{ meData.user!.email }}</span>
        </div>


        <div class="mb-3">
          <label for="address">Dirección de entrega</label>
          <textarea
          cols="50" rows="4"
            class="form-control"
            id="address"
            placeholder="1234 Main St"
            required=""
          ></textarea>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <hr class="mb-4" />

        <h4 class="mb-3">Información de la tarjeta</h4>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input
              type="text"
              class="form-control"
              id="cc-name"
              placeholder=""
              required=""
            />
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input
              type="text"
              class="form-control"
              id="cc-number"
              placeholder=""
              required=""
            />
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input
              type="text"
              class="form-control"
              id="cc-expiration"
              placeholder=""
              required=""
            />
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input
              type="text"
              class="form-control"
              id="cc-cvv"
              placeholder=""
              required=""
            />
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4" />
        <button class="btn btn-primary btn-lg btn-block" type="submit">
          Continue to checkout
        </button>
      </form>
    </div>
  </div>
</div>
