<div class="container">
    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg-6">
        <form (ngSubmit)="add()" #forma="ngForm">
          <h1>Activar usuario</h1>
          <p>Introduzca el password y verificalo antes de activar el usuario. Selecciona tu fecha de nacimiento.</p>
          <label for="password"><b>Contraseña</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            #password="ngModel"
            [(ngModel)]="values.password"
            name="password"
            class="form-control"
            [ngClass]="{
              'is-valid': !password.invalid,
              'is-invalid': password.invalid
            }"
            required
          />
          <div
            class="alert alert-danger"
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            <div >
              Introduzca una contraseña por favor
            </div>
          </div>
          <label for="passwordTwo"><b>Repetir contraseña</b></label>
          <input
            type="password"
            placeholder="Repita la contraseña"
            #passwordTwo="ngModel"
            [(ngModel)]="values.passwordTwo"
            name="passwordTwo"
            class="form-control"
            [ngClass]="{
              'is-valid': !passwordTwo.invalid,
              'is-invalid': passwordTwo.invalid
            }"
            required
          />
          <div
            class="alert alert-danger"
            *ngIf="
              passwordTwo.invalid && (passwordTwo.dirty || passwordTwo.touched)
            "
          >
            <div >
              Introduzca una contraseña por favor
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <button type="submit" [disabled]="!forma.valid" class="signup-btn">
                Activar usuario
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg"></div>
    </div>
  </div>
  