#sidebar-wrapper {
  margin-left: 0;
  min-height: 100vh;
  background-color: #181F2C;
}

.border-end {
  border-right: 1px solid #dee2e6 !important;
}

::before,
::after {
  box-sizing: border-box;
}
