   <!-- Sidebar-->
            <div class="border-end" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom ">
                    <a [routerLink]="['/Home']" routerLinkActive="router-link-active">
                      <img src="./../../../../../assets/images/logo_2.png" alt="logo de tienda" style="align-items: center;" width="200">
                    </a>
                </div>
                <div class="list-group list-group-flush">
                    <a [routerLink]="item.url" *ngFor="let item of menuItems" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light" ><i class="{{ item.icon }}"></i> {{ item.label }}</a>
            
                </div>
            </div>
