<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" [routerLink]="['/Home']" routerLinkActive="router-link-active">
      <img src="./../../../../../assets/images/logo_2.png" alt="logo de tienda" class="d-inline-block align-cenbter" style="align-items: center;" width="90">
      <span class="text-uppercase font-weight-bold">GamerZone</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a class="nav-link" [routerLink]="item.url" routerLinkActive="router-link-active" >{{ item.label }}</a>
        </li>
      </ul>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item "*ngIf="!access" >
              <a class="nav-link"[routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
            </li>
            <li class="nav-item " *ngIf="!access">
              <a class="nav-link"[routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
            </li>
            <li class="nav-item " *ngIf="access && role=='ADMIN' ">
              <a class="nav-link"[routerLink]="['/admin']" routerLinkActive="router-link-active">Admin</a>
            </li>
            <li class="nav-item dropdown" *ngIf="access">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false"> {{ userLabel }} </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Configuración</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)= "logout()">Salir de la sesión</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="open()"><i class="fas fa-shopping-cart"></i> <span class="badge badge-success notification">{{ cartItemsTotal }}</span></a>
            </li>
          </ul>
       </div>
    </div>
</nav>
