<shop-carousel-items [items]="items"></shop-carousel-items>
<div class="container-fluid" *ngIf="!loading">
  <app-product-category-list
    *ngIf="listOne"
    [title]="'Juegos de PS4'"
    [productsList]="listOne"
  >
  </app-product-category-list>
  <app-product-category-list
    *ngIf="listTwo"
    [title]="'Juegos más económicos (<35 €)'"
    [productsList]="listTwo"
  >
  </app-product-category-list>
  <app-product-category-list
    *ngIf="listThree"
    [title]="'Juegos de PC'"
    [productsList]="listThree"
  >
  </app-product-category-list>
</div>
