<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>Gamerzone - ¡¡Videojuegos al mejor precio!!</p>
            <p>
                Avenida Lorem ipsum , 98B, CDMX <br/>
                Tel: 461 296 21 07- Contacto: gamerzone@gmail.com
                <a
                    class="nav-link"
                    [routerLink]="['/contact']"
                    routerLinkActive="router-link-active"
                    >Contacta con nosotros</a
                >
            </p>
        </address>
        <ul class="social nav justify-content-center">
            <li>
                <a href="https://youtube.com/mugan86" target="_blank">
                    <img src="/assets/img/icons/youtube.png" >
                </a>
            </li>
            <li>
                <a href="https://twitter.com/mugan86" target="_blank">
                    <img src="/assets/img/icons/twitter.png" >
                </a>
            </li>
            <li>
                <a href="https://facebook.com" target="_blank">
                    <img src="/assets/img/icons/facebook.png">
                </a>
            </li>
        </ul>
    </div>
</footer>

