<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Carrito de compra</span>
  <span class="badge badge-secondary badge-pill">{{ cart.subtotal }}</span>
</h4>
<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed product-list"
  *ngFor="let product of cart.products">
  <div class="container-fluid product-info">
    <div class="row">
      <div class="col-lg-8">
        <h6 class="my-0">{{ product.name }}</h6>
        <small class="text-muted">{{ product.description }} - {{ product.qty }} uds.</small>
      </div>
      <div class="col-lg"><span class="text-muted float-right">{{ currencySelect }} {{ product.price }}</span></div>
      
    </div>
  </div>
    
    
  </li>
  <li class="list-group-item d-flex justify-content-between bg-light">
    <div class="text-success">
      <h6 class="my-0">Promo code</h6>
      <small>EXAMPLECODE</small>
    </div>
    <span class="text-success">-{{ currencySelect }} 5</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total ({{ currencyCode }})</span>
    <strong>{{ currencySelect }} {{ cart.total | number}}</strong>
  </li>
</ul>
