
<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (ngSubmit)="add()" #forma="ngForm">
        <h1>Registro de usuario</h1>
        <p>
          Rellena los datos del formulario para efectuar el registro de tu
          cuenta de usuario.
        </p>
        <hr />
        <label for="name"><b>Nombre(s)</b></label>
        <input
          type="text"
          placeholder="Introduzca su nombre"
          name="name"
          #name="ngModel"
          [(ngModel)]="register.name"
          class="form-control"
          [ngClass]="{'is-valid': name.valid, 'is-invalid': name.invalid}"
          required
        />
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors!.required">
            Introduzca un nombre
          </div>
        </div>
        <label for="lastname"><b>Apellido(s)</b></label>
        <input
          type="text"
          placeholder="Introduzca su apellido(s)"
          name="lastname"
          #lastname="ngModel"
          [(ngModel)]="register.lastname"
          class="form-control"
          [ngClass]="{'is-valid': lastname.valid, 'is-invalid': lastname.invalid}"
          required
        />
        <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <div *ngIf="lastname.errors!.required">
            Introduzca un apellido o apellidos 
          </div>
        </div>
        <label for="birthday"><b>Fecha de nacimiento</b></label>
        <app-date-picker-legal-age
          (newDate)="dataAsign($event)"
        ></app-date-picker-legal-age>
        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Introduzca su email"
          name="email"
          #email="ngModel"
          [(ngModel)]="register.email"
          class="form-control"
          [ngClass]="{'is-valid': email.valid, 'is-invalid': email.invalid}"
          pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
          required
        />
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors!.required">
            Introduzca email por favor
          </div>
          <div *ngIf="email.errors!.pattern">
            Introduzca un email con el formato correcto por favor. Pj: contacto@anartz-mugika.com
          </div>
        </div>

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Introduzca la contraseña"
          name="password"
          #password="ngModel"
          [(ngModel)]="register.password"
          class="form-control"
          [ngClass]="{'is-valid': password.valid, 'is-invalid': password.invalid}"
          required
        />
        <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors!.required">
            Introduzca una contraseña por favor
          </div>
        </div>

        <p>
          By creating an account you agree to our
          <a href="#" style="color: dodgerblue;">Terms & Privacy</a>.
        </p>
        <p>
          ¿Ya tiene una cuenta?
          <a [routerLink]="['/login']" style="color: dodgerblue;"
            >Iniciar sesión</a
          >.
        </p>
        <div class="row">
          <div class="col-lg">
            <button [disabled]="forma.invalid" type="submit" class="signup-btn">Registrarse</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg"></div>
  </div>
</div>
