
<form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" 
               ngbDatepicker #d="ngbDatepicker"
               [(ngModel)]="model" (click)="d.toggle()" 
               (ngModelChange)="selectDateChange()"
                [minDate]="minDate"
                [maxDate]="maxDate"
                readonly 
        >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>
